In [47]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report,mean_absolute_error,r2_score
from sklearn.linear_model import LinearRegression

from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import Adam

le=LabelEncoder()
lr=LinearRegression()

Using TensorFlow backend.

In [2]:
traffic=pd.read_csv("Train.csv")
traffic

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,02-10-12 9:00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545
1,02-10-12 10:00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516
2,02-10-12 11:00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767
3,02-10-12 12:00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026
4,02-10-12 13:00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918
5,02-10-12 14:00,None,23,65,3,328,6,6,291.72,0.0,0.0,1,Clear,sky is clear,5181
6,02-10-12 15:00,None,184,64,3,328,7,7,293.17,0.0,0.0,1,Clear,sky is clear,5584
7,02-10-12 16:00,None,167,64,3,327,7,7,293.86,0.0,0.0,1,Clear,sky is clear,6015
8,02-10-12 17:00,None,119,63,3,327,6,6,294.14,0.0,0.0,20,Clouds,few clouds,5791
9,02-10-12 18:00,None,161,63,3,326,3,3,293.10,0.0,0.0,20,Clouds,few clouds,4770
10,02-10-12 19:00,None,243,62,3,326,8,8,290.97,0.0,0.0,20,Clouds,few clouds,3539
11,02-10-12 20:00,None,150,62,3,326,5,5,289.38,0.0,0.0,1,Clear,sky is clear,2784
12,02-10-12 21:00,None,128,61,4,325,4,4,288.61,0.0,0.0,1,Clear,sky is clear,2361
13,02-10-12 22:00,None,18,61,4,325,7,7,287.16,0.0,0.0,1,Clear,sky is clear,1529
14,02-10-12 23:00,None,186,60,4,324,5,5,285.45,0.0,0.0,1,Clear,sky is clear,963
15,03-10-12 0:00,None,58,60,4,324,2,2,284.63,0.0,0.0,1,Clear,sky is clear,506
16,03-10-12 1:00,None,158,59,4,324,6,6,283.47,0.0,0.0,1,Clear,sky is clear,321
17,03-10-12 2:00,None,166,59,4,323,1,1,281.18,0.0,0.0,1,Clear,sky is clear,273
18,03-10-12 3:00,None,101,58,4,323,7,7,281.09,0.0,0.0,1,Clear,sky is clear,367
19,03-10-12 4:00,None,161,58,4,322,4,4,279.53,0.0,0.0,1,Clear,sky is clear,814
20,03-10-12 5:00,None,179,57,4,322,3,3,278.62,0.0,0.0,1,Clear,sky is clear,2718
21,03-10-12 6:00,None,93,57,4,322,4,4,278.23,0.0,0.0,1,Clear,sky is clear,5673
22,03-10-12 8:00,None,57,56,4,321,4,4,278.12,0.0,0.0,1,Clear,sky is clear,6511
23,03-10-12 9:00,None,226,56,4,321,4,4,282.48,0.0,0.0,1,Clear,sky is clear,5471
24,03-10-12 12:00,None,86,55,4,320,3,3,291.97,0.0,0.0,1,Clear,sky is clear,5097
25,03-10-12 13:00,None,52,55,4,320,1,1,293.23,0.0,0.0,1,Clear,sky is clear,4887
26,03-10-12 14:00,None,273,55,4,320,4,4,294.31,0.0,0.0,1,Clear,sky is clear,5337
27,03-10-12 15:00,None,72,55,5,350,3,3,295.17,0.0,0.0,1,Clear,sky is clear,5692
28,03-10-12 16:00,None,254,55,4,320,1,1,295.13,0.0,0.0,1,Clear,sky is clear,6137
29,03-10-12 18:00,None,129,55,5,330,4,4,293.66,0.0,0.0,20,Clouds,few clouds,4623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33720,17-05-17 10:00,None,284,85,2,315,7,7,290.22,0.0,0.0,90,Mist,mist,4517
33721,17-05-17 10:00,None,32,85,2,315,6,6,290.22,0.0,0.0,90,Drizzle,light intensity drizzle,4517
33722,17-05-17 11:00,None,75,72,2,340,8,8,291.02,0.0,0.0,90,Rain,moderate rain,4666
33723,17-05-17 12:00,None,95,72,2,340,9,9,291.75,0.0,0.0,90,Rain,proximity shower rain,4990
33724,17-05-17 12:00,None,209,73,1,180,6,6,291.75,0.0,0.0,90,Mist,mist,4990
33725,17-05-17 13:00,None,96,68,1,315,6,6,292.09,0.0,0.0,90,Rain,proximity shower rain,4789
33726,17-05-17 13:00,None,236,68,3,341,1,1,292.09,0.0,0.0,90,Drizzle,light intensity drizzle,4789
33727,17-05-17 14:00,None,120,68,3,341,1,1,292.62,0.0,0.0,90,Rain,proximity shower rain,5185
33728,17-05-17 15:00,None,148,62,2,335,7,7,293.15,0.0,0.0,40,Rain,proximity shower rain,5590
33729,17-05-17 16:00,None,244,62,1,318,5,5,292.75,0.0,0.0,90,Rain,moderate rain,6426
33730,17-05-17 16:00,None,271,62,1,333,6,6,292.75,0.0,0.0,90,Mist,mist,6426
33731,17-05-17 17:00,None,218,59,2,334,6,6,292.09,0.0,0.0,90,Rain,moderate rain,5763
33732,17-05-17 17:00,None,237,62,2,334,4,4,292.09,0.0,0.0,90,Mist,mist,5763
33733,17-05-17 18:00,None,194,69,2,334,2,2,291.35,0.0,0.0,90,Rain,moderate rain,4864
33734,17-05-17 18:00,None,91,67,2,337,8,8,291.35,0.0,0.0,90,Mist,mist,4864
33735,17-05-17 18:00,None,170,67,2,337,4,4,291.35,0.0,0.0,90,Drizzle,light intensity drizzle,4864
33736,17-05-17 18:00,None,198,67,2,337,2,2,291.35,0.0,0.0,90,Thunderstorm,proximity thunderstorm,4864
33737,17-05-17 19:00,None,27,84,1,321,4,4,290.56,0.0,0.0,90,Drizzle,light intensity drizzle,3136
33738,17-05-17 19:00,None,16,84,1,321,8,8,290.56,0.0,0.0,90,Thunderstorm,proximity thunderstorm,3136
33739,17-05-17 19:00,None,294,84,1,321,3,3,290.56,0.0,0.0,90,Rain,light rain,3136
33740,17-05-17 20:00,None,206,86,1,326,5,5,288.89,0.0,0.0,90,Thunderstorm,proximity thunderstorm,2733
33741,17-05-17 20:00,None,232,86,1,326,6,6,288.89,0.0,0.0,90,Rain,heavy intensity rain,2733
33742,17-05-17 20:00,None,83,86,1,326,1,1,288.89,0.0,0.0,90,Mist,mist,2733
33743,17-05-17 21:00,None,25,85,1,328,8,8,287.88,0.0,0.0,90,Thunderstorm,proximity thunderstorm,2348
33744,17-05-17 21:00,None,269,85,1,328,5,5,287.88,0.0,0.0,90,Rain,light rain,2348
33745,17-05-17 21:00,None,74,85,1,328,7,7,287.88,0.0,0.0,90,Mist,mist,2348
33746,17-05-17 22:00,None,81,70,1,24,2,2,286.95,0.0,0.0,90,Rain,heavy intensity rain,2194
33747,17-05-17 22:00,None,138,70,1,24,1,1,286.95,0.0,0.0,90,Mist,mist,2194
33748,17-05-17 23:00,None,229,66,1,42,6,6,285.75,0.0,0.0,90,Rain,heavy intensity rain,1328
33749,17-05-17 23:00,None,140,63,1,27,8,8,285.75,0.0,0.0,90,Mist,mist,1328

In [3]:
print(traffic.shape)

(33750, 15)

In [4]:
traffic["is_holiday"].value_counts()

None                         33707
Thanksgiving Day                 5
Christmas Day                    5
New Years Day                    5
Washingtons Birthday             4
Columbus Day                     4
Labor Day                        4
Veterans Day                     4
Memorial Day                     3
Martin Luther King Jr Day        3
Independence Day                 3
State Fair                       3
Name: is_holiday, dtype: int64

In [5]:
#label encoding weather_type to numerical
traffic.weather_type=le.fit_transform(traffic.weather_type)

In [6]:
traffic.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,02-10-12 9:00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,1,scattered clouds,5545
1,02-10-12 10:00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,1,broken clouds,4516
2,02-10-12 11:00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,1,overcast clouds,4767
3,02-10-12 12:00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,1,overcast clouds,5026
4,02-10-12 13:00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,1,broken clouds,4918

In [7]:
list(le.classes_)

['Clear',
 'Clouds',
 'Drizzle',
 'Fog',
 'Haze',
 'Mist',
 'Rain',
 'Smoke',
 'Snow',
 'Squall',
 'Thunderstorm']

In [8]:
#converting is_holiday to numerical; 1 if holiday and 0 otherwise
traffic.loc[traffic['is_holiday']!='None','is_holiday']=1
traffic.loc[traffic['is_holiday']=='None','is_holiday']=0
traffic

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,02-10-12 9:00,0,121,89,2,329,1,1,288.28,0.0,0.0,40,1,scattered clouds,5545
1,02-10-12 10:00,0,178,67,3,330,1,1,289.36,0.0,0.0,75,1,broken clouds,4516
2,02-10-12 11:00,0,113,66,3,329,2,2,289.58,0.0,0.0,90,1,overcast clouds,4767
3,02-10-12 12:00,0,20,66,3,329,5,5,290.13,0.0,0.0,90,1,overcast clouds,5026
4,02-10-12 13:00,0,281,65,3,329,7,7,291.14,0.0,0.0,75,1,broken clouds,4918
5,02-10-12 14:00,0,23,65,3,328,6,6,291.72,0.0,0.0,1,0,sky is clear,5181
6,02-10-12 15:00,0,184,64,3,328,7,7,293.17,0.0,0.0,1,0,sky is clear,5584
7,02-10-12 16:00,0,167,64,3,327,7,7,293.86,0.0,0.0,1,0,sky is clear,6015
8,02-10-12 17:00,0,119,63,3,327,6,6,294.14,0.0,0.0,20,1,few clouds,5791
9,02-10-12 18:00,0,161,63,3,326,3,3,293.10,0.0,0.0,20,1,few clouds,4770
10,02-10-12 19:00,0,243,62,3,326,8,8,290.97,0.0,0.0,20,1,few clouds,3539
11,02-10-12 20:00,0,150,62,3,326,5,5,289.38,0.0,0.0,1,0,sky is clear,2784
12,02-10-12 21:00,0,128,61,4,325,4,4,288.61,0.0,0.0,1,0,sky is clear,2361
13,02-10-12 22:00,0,18,61,4,325,7,7,287.16,0.0,0.0,1,0,sky is clear,1529
14,02-10-12 23:00,0,186,60,4,324,5,5,285.45,0.0,0.0,1,0,sky is clear,963
15,03-10-12 0:00,0,58,60,4,324,2,2,284.63,0.0,0.0,1,0,sky is clear,506
16,03-10-12 1:00,0,158,59,4,324,6,6,283.47,0.0,0.0,1,0,sky is clear,321
17,03-10-12 2:00,0,166,59,4,323,1,1,281.18,0.0,0.0,1,0,sky is clear,273
18,03-10-12 3:00,0,101,58,4,323,7,7,281.09,0.0,0.0,1,0,sky is clear,367
19,03-10-12 4:00,0,161,58,4,322,4,4,279.53,0.0,0.0,1,0,sky is clear,814
20,03-10-12 5:00,0,179,57,4,322,3,3,278.62,0.0,0.0,1,0,sky is clear,2718
21,03-10-12 6:00,0,93,57,4,322,4,4,278.23,0.0,0.0,1,0,sky is clear,5673
22,03-10-12 8:00,0,57,56,4,321,4,4,278.12,0.0,0.0,1,0,sky is clear,6511
23,03-10-12 9:00,0,226,56,4,321,4,4,282.48,0.0,0.0,1,0,sky is clear,5471
24,03-10-12 12:00,0,86,55,4,320,3,3,291.97,0.0,0.0,1,0,sky is clear,5097
25,03-10-12 13:00,0,52,55,4,320,1,1,293.23,0.0,0.0,1,0,sky is clear,4887
26,03-10-12 14:00,0,273,55,4,320,4,4,294.31,0.0,0.0,1,0,sky is clear,5337
27,03-10-12 15:00,0,72,55,5,350,3,3,295.17,0.0,0.0,1,0,sky is clear,5692
28,03-10-12 16:00,0,254,55,4,320,1,1,295.13,0.0,0.0,1,0,sky is clear,6137
29,03-10-12 18:00,0,129,55,5,330,4,4,293.66,0.0,0.0,20,1,few clouds,4623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33720,17-05-17 10:00,0,284,85,2,315,7,7,290.22,0.0,0.0,90,5,mist,4517
33721,17-05-17 10:00,0,32,85,2,315,6,6,290.22,0.0,0.0,90,2,light intensity drizzle,4517
33722,17-05-17 11:00,0,75,72,2,340,8,8,291.02,0.0,0.0,90,6,moderate rain,4666
33723,17-05-17 12:00,0,95,72,2,340,9,9,291.75,0.0,0.0,90,6,proximity shower rain,4990
33724,17-05-17 12:00,0,209,73,1,180,6,6,291.75,0.0,0.0,90,5,mist,4990
33725,17-05-17 13:00,0,96,68,1,315,6,6,292.09,0.0,0.0,90,6,proximity shower rain,4789
33726,17-05-17 13:00,0,236,68,3,341,1,1,292.09,0.0,0.0,90,2,light intensity drizzle,4789
33727,17-05-17 14:00,0,120,68,3,341,1,1,292.62,0.0,0.0,90,6,proximity shower rain,5185
33728,17-05-17 15:00,0,148,62,2,335,7,7,293.15,0.0,0.0,40,6,proximity shower rain,5590
33729,17-05-17 16:00,0,244,62,1,318,5,5,292.75,0.0,0.0,90,6,moderate rain,6426
33730,17-05-17 16:00,0,271,62,1,333,6,6,292.75,0.0,0.0,90,5,mist,6426
33731,17-05-17 17:00,0,218,59,2,334,6,6,292.09,0.0,0.0,90,6,moderate rain,5763
33732,17-05-17 17:00,0,237,62,2,334,4,4,292.09,0.0,0.0,90,5,mist,5763
33733,17-05-17 18:00,0,194,69,2,334,2,2,291.35,0.0,0.0,90,6,moderate rain,4864
33734,17-05-17 18:00,0,91,67,2,337,8,8,291.35,0.0,0.0,90,5,mist,4864
33735,17-05-17 18:00,0,170,67,2,337,4,4,291.35,0.0,0.0,90,2,light intensity drizzle,4864
33736,17-05-17 18:00,0,198,67,2,337,2,2,291.35,0.0,0.0,90,10,proximity thunderstorm,4864
33737,17-05-17 19:00,0,27,84,1,321,4,4,290.56,0.0,0.0,90,2,light intensity drizzle,3136
33738,17-05-17 19:00,0,16,84,1,321,8,8,290.56,0.0,0.0,90,10,proximity thunderstorm,3136
33739,17-05-17 19:00,0,294,84,1,321,3,3,290.56,0.0,0.0,90,6,light rain,3136
33740,17-05-17 20:00,0,206,86,1,326,5,5,288.89,0.0,0.0,90,10,proximity thunderstorm,2733
33741,17-05-17 20:00,0,232,86,1,326,6,6,288.89,0.0,0.0,90,6,heavy intensity rain,2733
33742,17-05-17 20:00,0,83,86,1,326,1,1,288.89,0.0,0.0,90,5,mist,2733
33743,17-05-17 21:00,0,25,85,1,328,8,8,287.88,0.0,0.0,90,10,proximity thunderstorm,2348
33744,17-05-17 21:00,0,269,85,1,328,5,5,287.88,0.0,0.0,90,6,light rain,2348
33745,17-05-17 21:00,0,74,85,1,328,7,7,287.88,0.0,0.0,90,5,mist,2348
33746,17-05-17 22:00,0,81,70,1,24,2,2,286.95,0.0,0.0,90,6,heavy intensity rain,2194
33747,17-05-17 22:00,0,138,70,1,24,1,1,286.95,0.0,0.0,90,5,mist,2194
33748,17-05-17 23:00,0,229,66,1,42,6,6,285.75,0.0,0.0,90,6,heavy intensity rain,1328
33749,17-05-17 23:00,0,140,63,1,27,8,8,285.75,0.0,0.0,90,5,mist,1328

In [9]:
traffic['is_holiday'].value_counts()

0    33707
1       43
Name: is_holiday, dtype: int64

In [10]:
traffic['date_time'].describe()

count              33750
unique             28589
top       18-04-13 22:00
freq                   6
Name: date_time, dtype: object

In [11]:
#splitting date_time into date and time
traffic[['date','time']]=traffic.date_time.str.split(expand=True)
traffic.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,date,time
0,02-10-12 9:00,0,121,89,2,329,1,1,288.28,0.0,0.0,40,1,scattered clouds,5545,02-10-12,9:00
1,02-10-12 10:00,0,178,67,3,330,1,1,289.36,0.0,0.0,75,1,broken clouds,4516,02-10-12,10:00
2,02-10-12 11:00,0,113,66,3,329,2,2,289.58,0.0,0.0,90,1,overcast clouds,4767,02-10-12,11:00
3,02-10-12 12:00,0,20,66,3,329,5,5,290.13,0.0,0.0,90,1,overcast clouds,5026,02-10-12,12:00
4,02-10-12 13:00,0,281,65,3,329,7,7,291.14,0.0,0.0,75,1,broken clouds,4918,02-10-12,13:00

In [12]:
#rearranging date and time to dataframe beginning
col=traffic.columns.tolist()
col=col[-1:]+col[:-1]
col=col[-1:]+col[:-1]
#storing column sequence in col
col

['date',
 'time',
 'date_time',
 'is_holiday',
 'air_pollution_index',
 'humidity',
 'wind_speed',
 'wind_direction',
 'visibility_in_miles',
 'dew_point',
 'temperature',
 'rain_p_h',
 'snow_p_h',
 'clouds_all',
 'weather_type',
 'weather_description',
 'traffic_volume']

In [13]:
#using stored column sequence to rearrange dataframe
traffic=traffic[col]
traffic=traffic.drop('date_time',axis=1)
traffic.head()

,date,time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,02-10-12,9:00,0,121,89,2,329,1,1,288.28,0.0,0.0,40,1,scattered clouds,5545
1,02-10-12,10:00,0,178,67,3,330,1,1,289.36,0.0,0.0,75,1,broken clouds,4516
2,02-10-12,11:00,0,113,66,3,329,2,2,289.58,0.0,0.0,90,1,overcast clouds,4767
3,02-10-12,12:00,0,20,66,3,329,5,5,290.13,0.0,0.0,90,1,overcast clouds,5026
4,02-10-12,13:00,0,281,65,3,329,7,7,291.14,0.0,0.0,75,1,broken clouds,4918

In [14]:
#converting date to datetime type to get days from it further on
traffic['date']= pd.to_datetime(traffic['date'])

In [15]:
traffic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33750 entries, 0 to 33749
Data columns (total 16 columns):
date                   33750 non-null datetime64[ns]
time                   33750 non-null object
is_holiday             33750 non-null int64
air_pollution_index    33750 non-null int64
humidity               33750 non-null int64
wind_speed             33750 non-null int64
wind_direction         33750 non-null int64
visibility_in_miles    33750 non-null int64
dew_point              33750 non-null int64
temperature            33750 non-null float64
rain_p_h               33750 non-null float64
snow_p_h               33750 non-null float64
clouds_all             33750 non-null int64
weather_type           33750 non-null int32
weather_description    33750 non-null object
traffic_volume         33750 non-null int64
dtypes: datetime64[ns](1), float64(3), int32(1), int64(9), object(2)
memory usage: 4.0+ MB

In [16]:
traffic1=traffic
traffic1.head()

,date,time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-02-10,9:00,0,121,89,2,329,1,1,288.28,0.0,0.0,40,1,scattered clouds,5545
1,2012-02-10,10:00,0,178,67,3,330,1,1,289.36,0.0,0.0,75,1,broken clouds,4516
2,2012-02-10,11:00,0,113,66,3,329,2,2,289.58,0.0,0.0,90,1,overcast clouds,4767
3,2012-02-10,12:00,0,20,66,3,329,5,5,290.13,0.0,0.0,90,1,overcast clouds,5026
4,2012-02-10,13:00,0,281,65,3,329,7,7,291.14,0.0,0.0,75,1,broken clouds,4918

In [17]:
#using only days from the dates; converting days to numerical equivalents
traffic1['date']=traffic1['date'].dt.weekday
traffic1['date']=traffic1['date'].astype(str)

In [18]:
traffic1.head()

,date,time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,4,9:00,0,121,89,2,329,1,1,288.28,0.0,0.0,40,1,scattered clouds,5545
1,4,10:00,0,178,67,3,330,1,1,289.36,0.0,0.0,75,1,broken clouds,4516
2,4,11:00,0,113,66,3,329,2,2,289.58,0.0,0.0,90,1,overcast clouds,4767
3,4,12:00,0,20,66,3,329,5,5,290.13,0.0,0.0,90,1,overcast clouds,5026
4,4,13:00,0,281,65,3,329,7,7,291.14,0.0,0.0,75,1,broken clouds,4918

In [19]:
#dropping the :00 from time since redundant and inhibits operations
traffic1['time']=traffic1['time'].str.replace(':00','')
traffic1.head()

,date,time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,4,9,0,121,89,2,329,1,1,288.28,0.0,0.0,40,1,scattered clouds,5545
1,4,10,0,178,67,3,330,1,1,289.36,0.0,0.0,75,1,broken clouds,4516
2,4,11,0,113,66,3,329,2,2,289.58,0.0,0.0,90,1,overcast clouds,4767
3,4,12,0,20,66,3,329,5,5,290.13,0.0,0.0,90,1,overcast clouds,5026
4,4,13,0,281,65,3,329,7,7,291.14,0.0,0.0,75,1,broken clouds,4918

In [20]:
traffic1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33750 entries, 0 to 33749
Data columns (total 16 columns):
date                   33750 non-null object
time                   33750 non-null object
is_holiday             33750 non-null int64
air_pollution_index    33750 non-null int64
humidity               33750 non-null int64
wind_speed             33750 non-null int64
wind_direction         33750 non-null int64
visibility_in_miles    33750 non-null int64
dew_point              33750 non-null int64
temperature            33750 non-null float64
rain_p_h               33750 non-null float64
snow_p_h               33750 non-null float64
clouds_all             33750 non-null int64
weather_type           33750 non-null int32
weather_description    33750 non-null object
traffic_volume         33750 non-null int64
dtypes: float64(3), int32(1), int64(9), object(3)
memory usage: 4.0+ MB

In [21]:
#converting all sundays to holidays in is_holiday
traffic1.loc[traffic1['date']=='6','is_holiday']=1

In [26]:
#transferring dataframe to traffic2 for dropping weather_description; traffic1 to be worked on later
traffic2=traffic1
traffic2=traffic2.drop(['weather_description'],axis=1)
traffic2.head()

,date,time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,traffic_volume
0,4,9,0,121,89,2,329,1,1,288.28,0.0,0.0,40,1,5545
1,4,10,0,178,67,3,330,1,1,289.36,0.0,0.0,75,1,4516
2,4,11,0,113,66,3,329,2,2,289.58,0.0,0.0,90,1,4767
3,4,12,0,20,66,3,329,5,5,290.13,0.0,0.0,90,1,5026
4,4,13,0,281,65,3,329,7,7,291.14,0.0,0.0,75,1,4918

In [76]:
x_train,x_test,y_train,y_test=train_test_split(traffic2.drop('traffic_volume',axis=1),traffic2['traffic_volume'],test_size=0.2,random_state=5)

In [77]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [78]:
prd=lr.predict(x_test)

In [79]:
lr.score(x_test,y_test)

0.15082154889992094

In [81]:
r_sq=r2_score(y_test,prd)
r_sq

0.15082154889992094

A 2% to 15% jump is good, but far from acceptable. I'm gonna work on the weather decsription column instead of dropping it, as well as simplifying most other data. Do discuss any ideas or plans-of-action on the group.

### Here goes CNN... (this is the part where you stop reading)

(Intentionally didn't delete this cell before sending, so y'all can apply ideas which may increase accuracy here.)

In [96]:
adam=Adam(lr=0.001, beta_1=0.999, beta_2=0.999, epsilon=None, decay=0.0, amsgrad=False)
model = Sequential()
model.add(Dense(64, input_dim=14, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(16, activation='softmax'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='mean_squared_error',
              optimizer=adam,
              metrics=['accuracy'])

model.fit(x_train, y_train,
          epochs=10,
          batch_size=1000)
score = model.evaluate(x_test,y_test,batch_size=1000)
print('Test loss:', score[0])
print('Test accuracy:', score[1])

Epoch 1/10
27000/27000 [==============================] - 2s 60us/step - loss: 14409947.0370 - acc: 1.4815e-04
Epoch 2/10
27000/27000 [==============================] - 0s 13us/step - loss: 14409598.1481 - acc: 1.4815e-04
Epoch 3/10
27000/27000 [==============================] - 0s 14us/step - loss: 14409451.6667 - acc: 1.4815e-04
Epoch 4/10
27000/27000 [==============================] - 0s 14us/step - loss: 14409385.3704 - acc: 1.4815e-04
Epoch 5/10
27000/27000 [==============================] - 0s 14us/step - loss: 14409314.7407 - acc: 1.4815e-04
Epoch 6/10
27000/27000 [==============================] - 0s 17us/step - loss: 14409245.2222 - acc: 1.4815e-04
Epoch 7/10
27000/27000 [==============================] - 0s 15us/step - loss: 14409174.5556 - acc: 1.4815e-04
Epoch 8/10
27000/27000 [==============================] - 0s 14us/step - loss: 14409104.4444 - acc: 1.4815e-04
Epoch 9/10
27000/27000 [==============================] - 0s 16us/step - loss: 14409037.3333 - acc: 1.4815e-04
Epoch 10/10
27000/27000 [==============================] - 1s 20us/step - loss: 14408972.1481 - acc: 1.4815e-04
6750/6750 [==============================] - 1s 111us/step
Test loss: 14661886.370370371
Test accuracy: 0.0004444444655544228