In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report,mean_absolute_error,r2_score
from sklearn.linear_model import LinearRegression
from sklearn.decomposition import PCA
from sklearn import decomposition
%matplotlib inline

from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import Adam

le=LabelEncoder()
lr=LinearRegression()

pca=decomposition.PCA()

Using TensorFlow backend.

In [69]:
traffic=pd.read_csv("C:/Users/suraj/Downloads/Sangam 2019/DataSets/Train.csv")
traffic

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918
5,2012-10-02 14:00:00,None,23,65,3,328,6,6,291.72,0.0,0.0,1,Clear,sky is clear,5181
6,2012-10-02 15:00:00,None,184,64,3,328,7,7,293.17,0.0,0.0,1,Clear,sky is clear,5584
7,2012-10-02 16:00:00,None,167,64,3,327,7,7,293.86,0.0,0.0,1,Clear,sky is clear,6015
8,2012-10-02 17:00:00,None,119,63,3,327,6,6,294.14,0.0,0.0,20,Clouds,few clouds,5791
9,2012-10-02 18:00:00,None,161,63,3,326,3,3,293.10,0.0,0.0,20,Clouds,few clouds,4770
10,2012-10-02 19:00:00,None,243,62,3,326,8,8,290.97,0.0,0.0,20,Clouds,few clouds,3539
11,2012-10-02 20:00:00,None,150,62,3,326,5,5,289.38,0.0,0.0,1,Clear,sky is clear,2784
12,2012-10-02 21:00:00,None,128,61,4,325,4,4,288.61,0.0,0.0,1,Clear,sky is clear,2361
13,2012-10-02 22:00:00,None,18,61,4,325,7,7,287.16,0.0,0.0,1,Clear,sky is clear,1529
14,2012-10-02 23:00:00,None,186,60,4,324,5,5,285.45,0.0,0.0,1,Clear,sky is clear,963
15,2012-10-03 00:00:00,None,58,60,4,324,2,2,284.63,0.0,0.0,1,Clear,sky is clear,506
16,2012-10-03 01:00:00,None,158,59,4,324,6,6,283.47,0.0,0.0,1,Clear,sky is clear,321
17,2012-10-03 02:00:00,None,166,59,4,323,1,1,281.18,0.0,0.0,1,Clear,sky is clear,273
18,2012-10-03 03:00:00,None,101,58,4,323,7,7,281.09,0.0,0.0,1,Clear,sky is clear,367
19,2012-10-03 04:00:00,None,161,58,4,322,4,4,279.53,0.0,0.0,1,Clear,sky is clear,814
20,2012-10-03 05:00:00,None,179,57,4,322,3,3,278.62,0.0,0.0,1,Clear,sky is clear,2718
21,2012-10-03 06:00:00,None,93,57,4,322,4,4,278.23,0.0,0.0,1,Clear,sky is clear,5673
22,2012-10-03 08:00:00,None,57,56,4,321,4,4,278.12,0.0,0.0,1,Clear,sky is clear,6511
23,2012-10-03 09:00:00,None,226,56,4,321,4,4,282.48,0.0,0.0,1,Clear,sky is clear,5471
24,2012-10-03 12:00:00,None,86,55,4,320,3,3,291.97,0.0,0.0,1,Clear,sky is clear,5097
25,2012-10-03 13:00:00,None,52,55,4,320,1,1,293.23,0.0,0.0,1,Clear,sky is clear,4887
26,2012-10-03 14:00:00,None,273,55,4,320,4,4,294.31,0.0,0.0,1,Clear,sky is clear,5337
27,2012-10-03 15:00:00,None,72,55,5,350,3,3,295.17,0.0,0.0,1,Clear,sky is clear,5692
28,2012-10-03 16:00:00,None,254,55,4,320,1,1,295.13,0.0,0.0,1,Clear,sky is clear,6137
29,2012-10-03 18:00:00,None,129,55,5,330,4,4,293.66,0.0,0.0,20,Clouds,few clouds,4623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33720,2017-05-17 10:00:00,None,284,85,2,315,7,7,290.22,0.0,0.0,90,Mist,mist,4517
33721,2017-05-17 10:00:00,None,32,85,2,315,6,6,290.22,0.0,0.0,90,Drizzle,light intensity drizzle,4517
33722,2017-05-17 11:00:00,None,75,72,2,340,8,8,291.02,0.0,0.0,90,Rain,moderate rain,4666
33723,2017-05-17 12:00:00,None,95,72,2,340,9,9,291.75,0.0,0.0,90,Rain,proximity shower rain,4990
33724,2017-05-17 12:00:00,None,209,73,1,180,6,6,291.75,0.0,0.0,90,Mist,mist,4990
33725,2017-05-17 13:00:00,None,96,68,1,315,6,6,292.09,0.0,0.0,90,Rain,proximity shower rain,4789
33726,2017-05-17 13:00:00,None,236,68,3,341,1,1,292.09,0.0,0.0,90,Drizzle,light intensity drizzle,4789
33727,2017-05-17 14:00:00,None,120,68,3,341,1,1,292.62,0.0,0.0,90,Rain,proximity shower rain,5185
33728,2017-05-17 15:00:00,None,148,62,2,335,7,7,293.15,0.0,0.0,40,Rain,proximity shower rain,5590
33729,2017-05-17 16:00:00,None,244,62,1,318,5,5,292.75,0.0,0.0,90,Rain,moderate rain,6426
33730,2017-05-17 16:00:00,None,271,62,1,333,6,6,292.75,0.0,0.0,90,Mist,mist,6426
33731,2017-05-17 17:00:00,None,218,59,2,334,6,6,292.09,0.0,0.0,90,Rain,moderate rain,5763
33732,2017-05-17 17:00:00,None,237,62,2,334,4,4,292.09,0.0,0.0,90,Mist,mist,5763
33733,2017-05-17 18:00:00,None,194,69,2,334,2,2,291.35,0.0,0.0,90,Rain,moderate rain,4864
33734,2017-05-17 18:00:00,None,91,67,2,337,8,8,291.35,0.0,0.0,90,Mist,mist,4864
33735,2017-05-17 18:00:00,None,170,67,2,337,4,4,291.35,0.0,0.0,90,Drizzle,light intensity drizzle,4864
33736,2017-05-17 18:00:00,None,198,67,2,337,2,2,291.35,0.0,0.0,90,Thunderstorm,proximity thunderstorm,4864
33737,2017-05-17 19:00:00,None,27,84,1,321,4,4,290.56,0.0,0.0,90,Drizzle,light intensity drizzle,3136
33738,2017-05-17 19:00:00,None,16,84,1,321,8,8,290.56,0.0,0.0,90,Thunderstorm,proximity thunderstorm,3136
33739,2017-05-17 19:00:00,None,294,84,1,321,3,3,290.56,0.0,0.0,90,Rain,light rain,3136
33740,2017-05-17 20:00:00,None,206,86,1,326,5,5,288.89,0.0,0.0,90,Thunderstorm,proximity thunderstorm,2733
33741,2017-05-17 20:00:00,None,232,86,1,326,6,6,288.89,0.0,0.0,90,Rain,heavy intensity rain,2733
33742,2017-05-17 20:00:00,None,83,86,1,326,1,1,288.89,0.0,0.0,90,Mist,mist,2733
33743,2017-05-17 21:00:00,None,25,85,1,328,8,8,287.88,0.0,0.0,90,Thunderstorm,proximity thunderstorm,2348
33744,2017-05-17 21:00:00,None,269,85,1,328,5,5,287.88,0.0,0.0,90,Rain,light rain,2348
33745,2017-05-17 21:00:00,None,74,85,1,328,7,7,287.88,0.0,0.0,90,Mist,mist,2348
33746,2017-05-17 22:00:00,None,81,70,1,24,2,2,286.95,0.0,0.0,90,Rain,heavy intensity rain,2194
33747,2017-05-17 22:00:00,None,138,70,1,24,1,1,286.95,0.0,0.0,90,Mist,mist,2194
33748,2017-05-17 23:00:00,None,229,66,1,42,6,6,285.75,0.0,0.0,90,Rain,heavy intensity rain,1328
33749,2017-05-17 23:00:00,None,140,63,1,27,8,8,285.75,0.0,0.0,90,Mist,mist,1328

In [70]:
print(traffic.shape)

(33750, 15)

In [71]:
traffic["is_holiday"].value_counts()

None                         33707
Thanksgiving Day                 5
Christmas Day                    5
New Years Day                    5
Washingtons Birthday             4
Veterans Day                     4
Columbus Day                     4
Labor Day                        4
Independence Day                 3
Memorial Day                     3
State Fair                       3
Martin Luther King Jr Day        3
Name: is_holiday, dtype: int64

In [72]:
#label encoding weather_type to numerical
traffic.weather_type=le.fit_transform(traffic.weather_type)

In [73]:
traffic.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,1,scattered clouds,5545
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,1,broken clouds,4516
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,1,overcast clouds,4767
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,1,overcast clouds,5026
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,1,broken clouds,4918

In [74]:
list(le.classes_)

['Clear',
 'Clouds',
 'Drizzle',
 'Fog',
 'Haze',
 'Mist',
 'Rain',
 'Smoke',
 'Snow',
 'Squall',
 'Thunderstorm']

In [75]:
#converting is_holiday to numerical; 1 if holiday and 0 otherwise
traffic.loc[traffic['is_holiday']!='None','is_holiday']=1
traffic.loc[traffic['is_holiday']=='None','is_holiday']=0
traffic

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,0,121,89,2,329,1,1,288.28,0.0,0.0,40,1,scattered clouds,5545
1,2012-10-02 10:00:00,0,178,67,3,330,1,1,289.36,0.0,0.0,75,1,broken clouds,4516
2,2012-10-02 11:00:00,0,113,66,3,329,2,2,289.58,0.0,0.0,90,1,overcast clouds,4767
3,2012-10-02 12:00:00,0,20,66,3,329,5,5,290.13,0.0,0.0,90,1,overcast clouds,5026
4,2012-10-02 13:00:00,0,281,65,3,329,7,7,291.14,0.0,0.0,75,1,broken clouds,4918
5,2012-10-02 14:00:00,0,23,65,3,328,6,6,291.72,0.0,0.0,1,0,sky is clear,5181
6,2012-10-02 15:00:00,0,184,64,3,328,7,7,293.17,0.0,0.0,1,0,sky is clear,5584
7,2012-10-02 16:00:00,0,167,64,3,327,7,7,293.86,0.0,0.0,1,0,sky is clear,6015
8,2012-10-02 17:00:00,0,119,63,3,327,6,6,294.14,0.0,0.0,20,1,few clouds,5791
9,2012-10-02 18:00:00,0,161,63,3,326,3,3,293.10,0.0,0.0,20,1,few clouds,4770
10,2012-10-02 19:00:00,0,243,62,3,326,8,8,290.97,0.0,0.0,20,1,few clouds,3539
11,2012-10-02 20:00:00,0,150,62,3,326,5,5,289.38,0.0,0.0,1,0,sky is clear,2784
12,2012-10-02 21:00:00,0,128,61,4,325,4,4,288.61,0.0,0.0,1,0,sky is clear,2361
13,2012-10-02 22:00:00,0,18,61,4,325,7,7,287.16,0.0,0.0,1,0,sky is clear,1529
14,2012-10-02 23:00:00,0,186,60,4,324,5,5,285.45,0.0,0.0,1,0,sky is clear,963
15,2012-10-03 00:00:00,0,58,60,4,324,2,2,284.63,0.0,0.0,1,0,sky is clear,506
16,2012-10-03 01:00:00,0,158,59,4,324,6,6,283.47,0.0,0.0,1,0,sky is clear,321
17,2012-10-03 02:00:00,0,166,59,4,323,1,1,281.18,0.0,0.0,1,0,sky is clear,273
18,2012-10-03 03:00:00,0,101,58,4,323,7,7,281.09,0.0,0.0,1,0,sky is clear,367
19,2012-10-03 04:00:00,0,161,58,4,322,4,4,279.53,0.0,0.0,1,0,sky is clear,814
20,2012-10-03 05:00:00,0,179,57,4,322,3,3,278.62,0.0,0.0,1,0,sky is clear,2718
21,2012-10-03 06:00:00,0,93,57,4,322,4,4,278.23,0.0,0.0,1,0,sky is clear,5673
22,2012-10-03 08:00:00,0,57,56,4,321,4,4,278.12,0.0,0.0,1,0,sky is clear,6511
23,2012-10-03 09:00:00,0,226,56,4,321,4,4,282.48,0.0,0.0,1,0,sky is clear,5471
24,2012-10-03 12:00:00,0,86,55,4,320,3,3,291.97,0.0,0.0,1,0,sky is clear,5097
25,2012-10-03 13:00:00,0,52,55,4,320,1,1,293.23,0.0,0.0,1,0,sky is clear,4887
26,2012-10-03 14:00:00,0,273,55,4,320,4,4,294.31,0.0,0.0,1,0,sky is clear,5337
27,2012-10-03 15:00:00,0,72,55,5,350,3,3,295.17,0.0,0.0,1,0,sky is clear,5692
28,2012-10-03 16:00:00,0,254,55,4,320,1,1,295.13,0.0,0.0,1,0,sky is clear,6137
29,2012-10-03 18:00:00,0,129,55,5,330,4,4,293.66,0.0,0.0,20,1,few clouds,4623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33720,2017-05-17 10:00:00,0,284,85,2,315,7,7,290.22,0.0,0.0,90,5,mist,4517
33721,2017-05-17 10:00:00,0,32,85,2,315,6,6,290.22,0.0,0.0,90,2,light intensity drizzle,4517
33722,2017-05-17 11:00:00,0,75,72,2,340,8,8,291.02,0.0,0.0,90,6,moderate rain,4666
33723,2017-05-17 12:00:00,0,95,72,2,340,9,9,291.75,0.0,0.0,90,6,proximity shower rain,4990
33724,2017-05-17 12:00:00,0,209,73,1,180,6,6,291.75,0.0,0.0,90,5,mist,4990
33725,2017-05-17 13:00:00,0,96,68,1,315,6,6,292.09,0.0,0.0,90,6,proximity shower rain,4789
33726,2017-05-17 13:00:00,0,236,68,3,341,1,1,292.09,0.0,0.0,90,2,light intensity drizzle,4789
33727,2017-05-17 14:00:00,0,120,68,3,341,1,1,292.62,0.0,0.0,90,6,proximity shower rain,5185
33728,2017-05-17 15:00:00,0,148,62,2,335,7,7,293.15,0.0,0.0,40,6,proximity shower rain,5590
33729,2017-05-17 16:00:00,0,244,62,1,318,5,5,292.75,0.0,0.0,90,6,moderate rain,6426
33730,2017-05-17 16:00:00,0,271,62,1,333,6,6,292.75,0.0,0.0,90,5,mist,6426
33731,2017-05-17 17:00:00,0,218,59,2,334,6,6,292.09,0.0,0.0,90,6,moderate rain,5763
33732,2017-05-17 17:00:00,0,237,62,2,334,4,4,292.09,0.0,0.0,90,5,mist,5763
33733,2017-05-17 18:00:00,0,194,69,2,334,2,2,291.35,0.0,0.0,90,6,moderate rain,4864
33734,2017-05-17 18:00:00,0,91,67,2,337,8,8,291.35,0.0,0.0,90,5,mist,4864
33735,2017-05-17 18:00:00,0,170,67,2,337,4,4,291.35,0.0,0.0,90,2,light intensity drizzle,4864
33736,2017-05-17 18:00:00,0,198,67,2,337,2,2,291.35,0.0,0.0,90,10,proximity thunderstorm,4864
33737,2017-05-17 19:00:00,0,27,84,1,321,4,4,290.56,0.0,0.0,90,2,light intensity drizzle,3136
33738,2017-05-17 19:00:00,0,16,84,1,321,8,8,290.56,0.0,0.0,90,10,proximity thunderstorm,3136
33739,2017-05-17 19:00:00,0,294,84,1,321,3,3,290.56,0.0,0.0,90,6,light rain,3136
33740,2017-05-17 20:00:00,0,206,86,1,326,5,5,288.89,0.0,0.0,90,10,proximity thunderstorm,2733
33741,2017-05-17 20:00:00,0,232,86,1,326,6,6,288.89,0.0,0.0,90,6,heavy intensity rain,2733
33742,2017-05-17 20:00:00,0,83,86,1,326,1,1,288.89,0.0,0.0,90,5,mist,2733
33743,2017-05-17 21:00:00,0,25,85,1,328,8,8,287.88,0.0,0.0,90,10,proximity thunderstorm,2348
33744,2017-05-17 21:00:00,0,269,85,1,328,5,5,287.88,0.0,0.0,90,6,light rain,2348
33745,2017-05-17 21:00:00,0,74,85,1,328,7,7,287.88,0.0,0.0,90,5,mist,2348
33746,2017-05-17 22:00:00,0,81,70,1,24,2,2,286.95,0.0,0.0,90,6,heavy intensity rain,2194
33747,2017-05-17 22:00:00,0,138,70,1,24,1,1,286.95,0.0,0.0,90,5,mist,2194
33748,2017-05-17 23:00:00,0,229,66,1,42,6,6,285.75,0.0,0.0,90,6,heavy intensity rain,1328
33749,2017-05-17 23:00:00,0,140,63,1,27,8,8,285.75,0.0,0.0,90,5,mist,1328

In [76]:
traffic['is_holiday'].value_counts()

0    33707
1       43
Name: is_holiday, dtype: int64

In [77]:
traffic['date_time'].describe()

count                   33750
unique                  28589
top       2013-05-19 10:00:00
freq                        6
Name: date_time, dtype: object

In [78]:
#splitting date_time into date and time
traffic[['date','time']]=traffic.date_time.str.split(expand=True)
traffic.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,date,time
0,2012-10-02 09:00:00,0,121,89,2,329,1,1,288.28,0.0,0.0,40,1,scattered clouds,5545,2012-10-02,09:00:00
1,2012-10-02 10:00:00,0,178,67,3,330,1,1,289.36,0.0,0.0,75,1,broken clouds,4516,2012-10-02,10:00:00
2,2012-10-02 11:00:00,0,113,66,3,329,2,2,289.58,0.0,0.0,90,1,overcast clouds,4767,2012-10-02,11:00:00
3,2012-10-02 12:00:00,0,20,66,3,329,5,5,290.13,0.0,0.0,90,1,overcast clouds,5026,2012-10-02,12:00:00
4,2012-10-02 13:00:00,0,281,65,3,329,7,7,291.14,0.0,0.0,75,1,broken clouds,4918,2012-10-02,13:00:00

In [79]:
#rearranging date and time to dataframe beginning
col=traffic.columns.tolist()
col=col[-1:]+col[:-1]
col=col[-1:]+col[:-1]
#storing column sequence in col
col

['date',
 'time',
 'date_time',
 'is_holiday',
 'air_pollution_index',
 'humidity',
 'wind_speed',
 'wind_direction',
 'visibility_in_miles',
 'dew_point',
 'temperature',
 'rain_p_h',
 'snow_p_h',
 'clouds_all',
 'weather_type',
 'weather_description',
 'traffic_volume']

In [80]:
#using stored column sequence to rearrange dataframe
traffic=traffic[col]
traffic=traffic.drop('date_time',axis=1)
traffic.head()

,date,time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02,09:00:00,0,121,89,2,329,1,1,288.28,0.0,0.0,40,1,scattered clouds,5545
1,2012-10-02,10:00:00,0,178,67,3,330,1,1,289.36,0.0,0.0,75,1,broken clouds,4516
2,2012-10-02,11:00:00,0,113,66,3,329,2,2,289.58,0.0,0.0,90,1,overcast clouds,4767
3,2012-10-02,12:00:00,0,20,66,3,329,5,5,290.13,0.0,0.0,90,1,overcast clouds,5026
4,2012-10-02,13:00:00,0,281,65,3,329,7,7,291.14,0.0,0.0,75,1,broken clouds,4918

In [81]:
#converting date to datetime type to get days from it further on
traffic['date']= pd.to_datetime(traffic['date'])

In [82]:
traffic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33750 entries, 0 to 33749
Data columns (total 16 columns):
date                   33750 non-null datetime64[ns]
time                   33750 non-null object
is_holiday             33750 non-null int64
air_pollution_index    33750 non-null int64
humidity               33750 non-null int64
wind_speed             33750 non-null int64
wind_direction         33750 non-null int64
visibility_in_miles    33750 non-null int64
dew_point              33750 non-null int64
temperature            33750 non-null float64
rain_p_h               33750 non-null float64
snow_p_h               33750 non-null float64
clouds_all             33750 non-null int64
weather_type           33750 non-null int32
weather_description    33750 non-null object
traffic_volume         33750 non-null int64
dtypes: datetime64[ns](1), float64(3), int32(1), int64(9), object(2)
memory usage: 4.0+ MB

In [83]:
traffic1=traffic
traffic1.head()

,date,time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02,09:00:00,0,121,89,2,329,1,1,288.28,0.0,0.0,40,1,scattered clouds,5545
1,2012-10-02,10:00:00,0,178,67,3,330,1,1,289.36,0.0,0.0,75,1,broken clouds,4516
2,2012-10-02,11:00:00,0,113,66,3,329,2,2,289.58,0.0,0.0,90,1,overcast clouds,4767
3,2012-10-02,12:00:00,0,20,66,3,329,5,5,290.13,0.0,0.0,90,1,overcast clouds,5026
4,2012-10-02,13:00:00,0,281,65,3,329,7,7,291.14,0.0,0.0,75,1,broken clouds,4918

In [84]:
#using only days from the dates; converting days to numerical equivalents
traffic1['date']=traffic1['date'].dt.weekday
traffic1['date']=traffic1['date'].astype(int)

In [85]:
traffic1.head()

,date,time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,1,09:00:00,0,121,89,2,329,1,1,288.28,0.0,0.0,40,1,scattered clouds,5545
1,1,10:00:00,0,178,67,3,330,1,1,289.36,0.0,0.0,75,1,broken clouds,4516
2,1,11:00:00,0,113,66,3,329,2,2,289.58,0.0,0.0,90,1,overcast clouds,4767
3,1,12:00:00,0,20,66,3,329,5,5,290.13,0.0,0.0,90,1,overcast clouds,5026
4,1,13:00:00,0,281,65,3,329,7,7,291.14,0.0,0.0,75,1,broken clouds,4918

In [86]:
#dropping the :00 from time since redundant and inhibits operations
traffic1['time']=traffic1['time'].str.replace(':00','')
traffic1['time']=traffic1['time'].astype(int)
traffic1.head()

,date,time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,1,9,0,121,89,2,329,1,1,288.28,0.0,0.0,40,1,scattered clouds,5545
1,1,10,0,178,67,3,330,1,1,289.36,0.0,0.0,75,1,broken clouds,4516
2,1,11,0,113,66,3,329,2,2,289.58,0.0,0.0,90,1,overcast clouds,4767
3,1,12,0,20,66,3,329,5,5,290.13,0.0,0.0,90,1,overcast clouds,5026
4,1,13,0,281,65,3,329,7,7,291.14,0.0,0.0,75,1,broken clouds,4918

In [87]:
traffic1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33750 entries, 0 to 33749
Data columns (total 16 columns):
date                   33750 non-null int32
time                   33750 non-null int32
is_holiday             33750 non-null int64
air_pollution_index    33750 non-null int64
humidity               33750 non-null int64
wind_speed             33750 non-null int64
wind_direction         33750 non-null int64
visibility_in_miles    33750 non-null int64
dew_point              33750 non-null int64
temperature            33750 non-null float64
rain_p_h               33750 non-null float64
snow_p_h               33750 non-null float64
clouds_all             33750 non-null int64
weather_type           33750 non-null int32
weather_description    33750 non-null object
traffic_volume         33750 non-null int64
dtypes: float64(3), int32(3), int64(9), object(1)
memory usage: 3.7+ MB

In [88]:
#converting all sundays to holidays in is_holiday
traffic1.loc[traffic1['date']=='6','is_holiday']=1

E:\Softwares\Ana\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [89]:
#transferring dataframe to traffic2 for dropping weather_description; traffic1 to be worked on later
traffic2=traffic1
traffic2=traffic2.drop(['weather_description'],axis=1)
traffic2.head()

,date,time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,traffic_volume
0,1,9,0,121,89,2,329,1,1,288.28,0.0,0.0,40,1,5545
1,1,10,0,178,67,3,330,1,1,289.36,0.0,0.0,75,1,4516
2,1,11,0,113,66,3,329,2,2,289.58,0.0,0.0,90,1,4767
3,1,12,0,20,66,3,329,5,5,290.13,0.0,0.0,90,1,5026
4,1,13,0,281,65,3,329,7,7,291.14,0.0,0.0,75,1,4918

In [90]:
traffic2[['temperature','rain_p_h','snow_p_h']]=traffic2[['temperature','rain_p_h','snow_p_h']].astype(int)
traffic2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33750 entries, 0 to 33749
Data columns (total 15 columns):
date                   33750 non-null int32
time                   33750 non-null int32
is_holiday             33750 non-null int64
air_pollution_index    33750 non-null int64
humidity               33750 non-null int64
wind_speed             33750 non-null int64
wind_direction         33750 non-null int64
visibility_in_miles    33750 non-null int64
dew_point              33750 non-null int64
temperature            33750 non-null int32
rain_p_h               33750 non-null int32
snow_p_h               33750 non-null int32
clouds_all             33750 non-null int64
weather_type           33750 non-null int32
traffic_volume         33750 non-null int64
dtypes: int32(6), int64(9)
memory usage: 3.1 MB

In [91]:
x_train,x_test,y_train,y_test=train_test_split(traffic2.drop('traffic_volume',axis=1),traffic2['traffic_volume'],test_size=0.2,random_state=5)

In [92]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [93]:
prd=lr.predict(x_test)

In [94]:
lr.score(x_test,y_test)

0.15925718423022395

In [95]:
r_sq=r2_score(y_test,prd)
r_sq

0.15925718423022395

A 2% to 15% jump is good, but far from acceptable. I'm gonna work on the weather description column instead of dropping it, as well as simplifying most other data. Do discuss any ideas or plans-of-action on the group.

##### PCA for Feature Selection

In [96]:
#configuring characters; no of components = 2
pca.n_components=2
pca_data=pca.fit_transform(traffic2)

#pca_reduced will contain the 2d projects of simple data
print('Shape of pca_reduced.shape: ',pca_data.shape)

Shape of pca_reduced.shape:  (33750, 2)

In [97]:
data=np.vstack((pca_data.T,traffic2['traffic_volume'])).T    #T for tranpose, without which h-stack needs to be used
trafficpca=pd.DataFrame(data,columns=('Col1','Col2','Labels'))
trafficpca.head()

          Col1        Col2  Labels
0  2304.975597 -127.486083  5545.0
1  1275.994001 -129.843349  4516.0
2  1527.015318 -128.667482  4767.0
3  1786.031664 -128.273184  5026.0
4  1677.981449 -128.781965  4918.0

Applying linear regression on the PCA reduced dataframe.

In [148]:
x_train1,x_test1,y_train1,y_test1=train_test_split(trafficpca.drop('Labels',axis=1),trafficpca['Labels'],test_size=0.1,random_state=5)

In [149]:
lr.fit(x_train1,y_train1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [150]:
prdpca=lr.predict(x_test1)

In [151]:
prdpca

array([4865.01062702,  454.03009987, 3215.03156189, ...,  322.93097608,
       4200.02724328, 2686.95658795])

In [152]:
prdpca.shape

(3375,)

In [153]:
lr.score(x_test1,y_test1)

0.9999999997238078

In [154]:
r_sq1=r2_score(y_test1,prdpca)
r_sq1

0.9999999997238079

In [155]:
accuracy_score(y_test1,prdpca.round())

1.0

In [156]:
custom_x=[4,9,0,121,89,2,329,1,1,288,0,0,40,1]

In [111]:
#For test data
traffic_test=pd.read_csv("C:/Users/suraj/Downloads/Sangam 2019/DataSets/Test.csv")
traffic_test.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
0,2017-05-18 00:00:00,None,73,63,1,27,4,4,285.15,0.0,0,90,Rain,moderate rain
1,2017-05-18 00:00:00,None,251,63,1,27,4,4,285.15,0.0,0,90,Mist,mist
2,2017-05-18 00:00:00,None,75,56,1,0,1,1,285.15,0.0,0,90,Drizzle,light intensity drizzle
3,2017-05-18 01:00:00,None,98,56,1,351,2,2,284.79,0.0,0,90,Rain,heavy intensity rain
4,2017-05-18 01:00:00,None,283,56,1,351,1,1,284.79,0.0,0,90,Mist,mist

In [112]:
#label encoding weather_type to numerical
traffic_test.weather_type=le.fit_transform(traffic_test.weather_type)

In [113]:
#converting is_holiday to numerical; 1 if holiday and 0 otherwise
traffic_test.loc[traffic_test['is_holiday']!='None','is_holiday']=1
traffic_test.loc[traffic_test['is_holiday']=='None','is_holiday']=0
traffic_test.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
0,2017-05-18 00:00:00,0,73,63,1,27,4,4,285.15,0.0,0,90,6,moderate rain
1,2017-05-18 00:00:00,0,251,63,1,27,4,4,285.15,0.0,0,90,5,mist
2,2017-05-18 00:00:00,0,75,56,1,0,1,1,285.15,0.0,0,90,2,light intensity drizzle
3,2017-05-18 01:00:00,0,98,56,1,351,2,2,284.79,0.0,0,90,6,heavy intensity rain
4,2017-05-18 01:00:00,0,283,56,1,351,1,1,284.79,0.0,0,90,5,mist

In [114]:
#splitting date_time into date and time
traffic_test[['date','time']]=traffic_test.date_time.str.split(expand=True)
traffic_test.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,date,time
0,2017-05-18 00:00:00,0,73,63,1,27,4,4,285.15,0.0,0,90,6,moderate rain,2017-05-18,00:00:00
1,2017-05-18 00:00:00,0,251,63,1,27,4,4,285.15,0.0,0,90,5,mist,2017-05-18,00:00:00
2,2017-05-18 00:00:00,0,75,56,1,0,1,1,285.15,0.0,0,90,2,light intensity drizzle,2017-05-18,00:00:00
3,2017-05-18 01:00:00,0,98,56,1,351,2,2,284.79,0.0,0,90,6,heavy intensity rain,2017-05-18,01:00:00
4,2017-05-18 01:00:00,0,283,56,1,351,1,1,284.79,0.0,0,90,5,mist,2017-05-18,01:00:00

In [115]:
#rearranging date and time to dataframe beginning
col=traffic_test.columns.tolist()
col=col[-1:]+col[:-1]
col=col[-1:]+col[:-1]
#storing column sequence in col
col

['date',
 'time',
 'date_time',
 'is_holiday',
 'air_pollution_index',
 'humidity',
 'wind_speed',
 'wind_direction',
 'visibility_in_miles',
 'dew_point',
 'temperature',
 'rain_p_h',
 'snow_p_h',
 'clouds_all',
 'weather_type',
 'weather_description']

In [116]:
#using stored column sequence to rearrange dataframe
traffic_test=traffic_test[col]
traffic_test=traffic_test.drop('date_time',axis=1)
traffic_test.head()

,date,time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
0,2017-05-18,00:00:00,0,73,63,1,27,4,4,285.15,0.0,0,90,6,moderate rain
1,2017-05-18,00:00:00,0,251,63,1,27,4,4,285.15,0.0,0,90,5,mist
2,2017-05-18,00:00:00,0,75,56,1,0,1,1,285.15,0.0,0,90,2,light intensity drizzle
3,2017-05-18,01:00:00,0,98,56,1,351,2,2,284.79,0.0,0,90,6,heavy intensity rain
4,2017-05-18,01:00:00,0,283,56,1,351,1,1,284.79,0.0,0,90,5,mist

In [117]:
#converting date to datetime type to get days from it further on
traffic_test['date']= pd.to_datetime(traffic_test['date'])

In [118]:
traffic_test1=traffic_test
traffic_test1.head()

,date,time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
0,2017-05-18,00:00:00,0,73,63,1,27,4,4,285.15,0.0,0,90,6,moderate rain
1,2017-05-18,00:00:00,0,251,63,1,27,4,4,285.15,0.0,0,90,5,mist
2,2017-05-18,00:00:00,0,75,56,1,0,1,1,285.15,0.0,0,90,2,light intensity drizzle
3,2017-05-18,01:00:00,0,98,56,1,351,2,2,284.79,0.0,0,90,6,heavy intensity rain
4,2017-05-18,01:00:00,0,283,56,1,351,1,1,284.79,0.0,0,90,5,mist

In [119]:
#using only days from the dates; converting days to numerical equivalents
traffic_test1['date']=traffic_test1['date'].dt.weekday
traffic_test1['date']=traffic_test1['date'].astype(int)

In [120]:
#dropping the :00 from time since redundant and inhibits operations
traffic_test1['time']=traffic_test1['time'].str.replace(':00','')
traffic_test1['time']=traffic_test1['time'].astype(int)
traffic_test1.head()

,date,time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
0,3,0,0,73,63,1,27,4,4,285.15,0.0,0,90,6,moderate rain
1,3,0,0,251,63,1,27,4,4,285.15,0.0,0,90,5,mist
2,3,0,0,75,56,1,0,1,1,285.15,0.0,0,90,2,light intensity drizzle
3,3,1,0,98,56,1,351,2,2,284.79,0.0,0,90,6,heavy intensity rain
4,3,1,0,283,56,1,351,1,1,284.79,0.0,0,90,5,mist

In [121]:
#converting all sundays to holidays in is_holiday
traffic_test1.loc[traffic_test1['date']=='6','is_holiday']=1

E:\Softwares\Ana\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [122]:
#transferring dataframe to traffic2 for dropping weather_description; traffic1 to be worked on later
traffic_test2=traffic_test1
traffic_test2=traffic_test2.drop(['weather_description'],axis=1)
traffic_test2.head()

,date,time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type
0,3,0,0,73,63,1,27,4,4,285.15,0.0,0,90,6
1,3,0,0,251,63,1,27,4,4,285.15,0.0,0,90,5
2,3,0,0,75,56,1,0,1,1,285.15,0.0,0,90,2
3,3,1,0,98,56,1,351,2,2,284.79,0.0,0,90,6
4,3,1,0,283,56,1,351,1,1,284.79,0.0,0,90,5

In [123]:
traffic_test2[['temperature','rain_p_h','snow_p_h']]=traffic_test2[['temperature','rain_p_h','snow_p_h']].astype(int)
traffic_test2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14454 entries, 0 to 14453
Data columns (total 14 columns):
date                   14454 non-null int32
time                   14454 non-null int32
is_holiday             14454 non-null int64
air_pollution_index    14454 non-null int64
humidity               14454 non-null int64
wind_speed             14454 non-null int64
wind_direction         14454 non-null int64
visibility_in_miles    14454 non-null int64
dew_point              14454 non-null int64
temperature            14454 non-null int32
rain_p_h               14454 non-null int32
snow_p_h               14454 non-null int32
clouds_all             14454 non-null int64
weather_type           14454 non-null int32
dtypes: int32(6), int64(8)
memory usage: 1.2 MB

In [124]:
##PCA on test data
#configuring characters; no of components = 2
pca.n_components=2
pca_data=pca.fit_transform(traffic_test2)

#pca_reduced will contain the 2d projects of simple data
print('Shape of pca_reduced.shape: ',pca_data.shape)
pca_data

Shape of pca_reduced.shape:  (14454, 2)

array([[ 183.6274397 ,  -77.61087193],
       [ 180.01054135,  100.34453388],
       [ 210.37908634,  -75.0687489 ],
       ...,
       [ -29.21066818,   18.09189994],
       [ -56.27272045, -134.48073145],
       [-117.80200087,  -40.71823822]])

In [125]:
data=np.vstack((pca_data.T)).T    #T for tranpose, without which h-stack needs to be used
traffic_test_pca=pd.DataFrame(data,columns=('Col1','Col2'))
traffic_test_pca.head()

         Col1        Col2
0  183.627440  -77.610872
1  180.010541  100.344534
2  210.379086  -75.068749
3 -140.815930  -59.180670
4 -144.574615  125.772537

In [157]:
prdpca_test=lr.predict(traffic_test_pca)

In [158]:
prdpca_test.shape

(14454,)

In [159]:
traffic_test_xl = pd.read_csv("C:/Users/suraj/Downloads/Sangam 2019/DataSets/Test.csv")
traffic_test_xl.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
0,2017-05-18 00:00:00,None,73,63,1,27,4,4,285.15,0.0,0,90,Rain,moderate rain
1,2017-05-18 00:00:00,None,251,63,1,27,4,4,285.15,0.0,0,90,Mist,mist
2,2017-05-18 00:00:00,None,75,56,1,0,1,1,285.15,0.0,0,90,Drizzle,light intensity drizzle
3,2017-05-18 01:00:00,None,98,56,1,351,2,2,284.79,0.0,0,90,Rain,heavy intensity rain
4,2017-05-18 01:00:00,None,283,56,1,351,1,1,284.79,0.0,0,90,Mist,mist

In [160]:
traffic_test_xl['traffic_volume'] = prdpca_test
traffic_test_xl.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2017-05-18 00:00:00,None,73,63,1,27,4,4,285.15,0.0,0,90,Rain,moderate rain,3423.689520
1,2017-05-18 00:00:00,None,251,63,1,27,4,4,285.15,0.0,0,90,Mist,mist,3420.200340
2,2017-05-18 00:00:00,None,75,56,1,0,1,1,285.15,0.0,0,90,Drizzle,light intensity drizzle,3450.442945
3,2017-05-18 01:00:00,None,98,56,1,351,2,2,284.79,0.0,0,90,Rain,heavy intensity rain,3099.259930
4,2017-05-18 01:00:00,None,283,56,1,351,1,1,284.79,0.0,0,90,Mist,mist,3095.633987

In [161]:
traffic_test_xl1 = traffic_test_xl[['date_time','traffic_volume']]
traffic_test_xl1.head()

             date_time  traffic_volume
0  2017-05-18 00:00:00     3423.689520
1  2017-05-18 00:00:00     3420.200340
2  2017-05-18 00:00:00     3450.442945
3  2017-05-18 01:00:00     3099.259930
4  2017-05-18 01:00:00     3095.633987

In [162]:
#traffic_test_xl1.to_excel('output.xlsx')

In [164]:
traffic_test_xl1.to_csv('output1.csv',index=False)